<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analyzer</title>

  </head>

  <body>
    <main>
      <div class="container">
        <header>        <p>Enter a URL of an article / a blog to discover its sentiment.</p>
        </header>
        <section>
          <form id="form">
            <label for="article-url">URL</label>
            <input id="article-url" type="text" name="input" value="" placeholder="Enter Article URL here" />
            <button
              type="submit"
              id="btn-submit"
              onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)"
            >
              Submit
            </button>
          </form>
        </section>

        <section id="results">
          <strong>Form Results:</strong>
          <div id="text"></div>
          <div id="agreement"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
        </section>
      </div>
    </main>
    <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
     </script>
  </body>
</html>
